@import "vars"

@media only screen and (max-width : 1200px)
  /**/

@media only screen and (max-width : 992px)
  .section__map
    width: 100%
    order: 1
    height: calc(50vh - 30px)
  .section__photo
    width: 100%
    order: 1
    height: calc(50vh - 30px)
  .section__info
    text-align: center
    width: 100%
    order: 2
    align-items: center
    padding-left: 0
    height: calc(100vh - 40px)
  .section_half
    height: calc(100vh - 40px)
  .section_wide
    height: calc(50vh - 20px)
  .section__info_half
    height: calc(50vh - 40px)
    width: 100%
    order: 1
    justify-content: center
    align-items: center
  .section__info_quarter
    height: calc(50vh - 20px)
    width: 50%
  .gallery__item
    width: 50%
    height: 50%
    order: 2

  .section__wrapper_reverse .section__info
    order: 1

@media only screen and (max-width : 768px)
  .promo__title
    font-size: 4.5rem
  .promo__description
    font-size: 2rem
  .section_half
    height: 100%
  .section_wide
    height: calc(50vh - 30px)
  .section__info_half
    width: 100%
    height: calc(50vh - 10px)
  .section__info_quarter
    width: 100%
    height: calc(50vh - 10px)
  .gallery__item
    width: 100%
    height: calc(50vh - 10px)

  .footer__wrapper
    text-align: center
  .social__wrapper_footer
    width: 100%
  .nav__wrapper, .news__wrapper
    width: 50%
  .logo__image_footer
    margin: 0 auto 20px
    left: 0
  .social__wrapper_footer
    margin-bottom: 50px

@media only screen and (max-width : 480px)
  .promo__title
    font-size: 3.25rem
  .promo__description
    font-size: 1.75rem

  .section__title
    font-size: 2.25rem
  .section__description
    font-size: 1.25rem
    margin-bottom: 5px
  .section__text
    font-size: 0.75rem

  .section__info_slider
    height: 100%
    margin-top: 20px
  .section_guestbook
    height: 115vh
  .guestbook-slider
    margin-bottom: 30px
  .gallery__text
    font-size: 1rem

  .nav__wrapper, .news__wrapper
    width: 100%
  .news__wrapper
    margin-bottom: 50px

@media only screen and (max-width : 320px)
  /**/