@import "vars"

@media only screen and (max-width : 1200px)
  /**/

@media only screen and (max-width : 992px)
  /**/

@media only screen and (max-width : 768px)
  .promo__title
    font-size: 4.5rem
  .promo__description
    font-size: 2rem

@media only screen and (max-width : 480px)
  .promo__title
    font-size: 3.25rem
  .promo__description
    font-size: 1.75rem

@media only screen and (max-width : 320px)
  /**/