@import "vars"

@media only screen and (max-width : 1200px)
  /**/

@media only screen and (max-width : 992px)
  .section__photo
    width: 100%
    order: 1
    height: calc(50% - 40px)
  .section__info
    text-align: center
    width: 100%
    order: 2
    align-items: center
    padding-left: 0
    height: calc(50% - 40px)

  .section_half
    height: calc(100vh - 40px)
  .section_wide
    height: calc(50vh - 20px)
  .section__info_half
    width: 50%
    order: 1
    justify-content: center
    align-items: center
  .news__item
    width: 50%
    height: 50%
    order: 2


@media only screen and (max-width : 768px)
  .promo__title
    font-size: 4.5rem
  .promo__description
    font-size: 2rem
  .section_half
    height: 100%
  .section_wide
    height: calc(50vh - 30px)
  .section__info_half
    width: 100%
    height: calc(50vh - 10px)
  .news__item
    width: 100%
    height: calc(50vh - 10px)

@media only screen and (max-width : 480px)
  .promo__title
    font-size: 3.25rem
  .promo__description
    font-size: 1.75rem

  .section__title
    font-size: 2.25rem
  .section__description
    font-size: 1.25rem
    margin-bottom: 5px
  .section__text
    font-size: 0.75rem

@media only screen and (max-width : 320px)
  /**/