doctype html
html
    head
        meta(charset="utf-8")
        title Deals
        meta(http-equiv="X-UA-Compatible" content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(property="og:image" content="path_to_image")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
        meta(name="theme-color" content="#ffffff")

    body
        header.header.header_half(style="background-image: url(img/page_deals/background.jpg)")
            div.header__wrapper
                div.top-line.header__top-line
                    div.menu
                        div.hamburger.menu__hamburger
                            div.hamburger__box
                                div.hamburger__inner
                        ul.nav.nav_header
                            li.nav__item
                                a.nav__link(href="index.html") Hemma
                            li.nav__item
                                a.nav__link(href="rooms.html") Rooms
                            li.nav__item
                                a.nav__link(href="food.html") Food
                            li.nav__item
                                a.nav__link(href="events.html") Events
                            li.nav__item
                                a.nav__link(href="deals.html") Deals
                    div.logo__image.logo__image_header(style="background-image: url(img/header/logo.png)")
                        a.logo.logo__header(href="index.html")
                div.promo.header__promo
                    h1.promo__title Deals
                    div.promo__description.promo__description_italic Discover our deals & promotions.

        main
            section.section.section_half.section_event-item
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_high.section__info_half
                        h2.section__title St. Valentine Promo
                        div.section__description A romantic weekend for couples. 50% off.
                        div.event-description
                            div.date__wrapper
                                span.date 12-14 Feb 2016
                            div.guest__wrapper
                                span.guest__amount 2 Guests
                            div.nutrition__wrapper
                                div.nutrition Breakfast included
                        p.section__text True simplicity. It has come to avoid the other product useful. What products become in trying to be used. That part? True simplicity. One object speaks volumes about an interesting thing as being minimal and principles are closer approximations.
                    div.section__photo.promo__description_small(style="background-image: url('img/page_events/photo_2.jpg')")


        footer.footer
            div.footer__wrapper
                div.social__wrapper_footer
                    div.logo__image.logo__image_footer(style="background-image: url(img/footer/logo.png)")
                        a.logo.logo__footer(href="index.html")
                    div.social
                        a.social__item.social__item_facebook(href="https://facebook.com")
                        a.social__item.social__item_instagram(href="https://instagram.com")
                        a.social__item.social__item_youtube(href="https://youtube.com")

                div.news__wrapper Latest News
                    ul.news.news_footer
                        li.news__item
                            a.news__link(href="view-from-the-bridge.html") View from the Bridge
                        li.news__item
                            a.news__link(href="the-north-falls.html") The North Falls
                        li.news__item
                            a.news__link(href="a-pair-of-shoes.html") A Pair of Shoes
                        li.news__item
                            a.news__link(href="a-day-into-the-wild.html") A Day into the Wild
                        li.news__item
                            a.news__link(href="hello-world.html") Hello world!
                div.nav__wrapper Menu
                    ul.nav.nav_footer
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="index.html") Hemma
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="rooms.html") Rooms
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="food.html") Food
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="events.html") Events
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="deals.html") Deals

        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
        script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")