doctype html
html
    head

        meta(charset="utf-8")
        title Hemma guest house
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(property="og:image" content="path_to_image")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        meta(name="theme-color" content="#000")
        meta(name="msapplication-navbutton-color" content="#000")
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

        link(rel="stylesheet" type='text/css' href="css/main.css")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

    body
        header.header(style="background-image: url(img/header/background.jpg)")
            div.header__wrapper
                div.top-line.header__top-line
                    div.menu
                        div.hamburger.menu__hamburger
                            div.hamburger__box
                                div.hamburger__inner
                        ul.nav
                            li.nav__item
                                a.nav__link(href="index.html") Hemma
                            li.nav__item
                                a.nav__link(href="#rooms") Rooms
                            li.nav__item
                                a.nav__link(href="#food") Food
                            li.nav__item
                                a.nav__link(href="#events") Events
                            li.nav__item
                                a.nav__link(href="#deals") Deals
                    div.logo__wrapper(style="background-image: url(img/header/logo.png)")
                        a.logo.logo__header(href="index.html")
                div.promo.header__promo
                    h1.promo__title Hemma
                    div.promo__description Our Wonderful Guest House.
                div.slide-down
                    div.slide-down__ball

        main
            section.section.section_discover
                div.section__wrapper
                    div.section__info.section__info_half
                        h2.section__title Discover Hemma
                        div.section__description Luxury must be comfortable.
                        a.button.section__button(href="#") About us
                    div.section__photo(style="background-image: url('img/section_discover/background.jpg')")

            section.section.section_rooms
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_half
                        h2.section__title Rooms
                        div.section__description We love to make you feel at home.
                        p.section__text Our Luxury Rooms are our most spacious rooms and provide great getaway accommodations. Rooms provide one King or one Queen or two Queens with some rooms providing extra sitting rooms and sofa beds.
                        a.button.section__button(href="#") View rooms
                    div.section__photo(style="background-image: url('img/section_rooms/background.jpg')")

            section.section.section_food
                div.section__wrapper
                    div.section__info.section__info_half
                        h2.section__title Food
                        div.section__description Taste our gourmet delicacies.
                        p.section__text Chefs, caterers, hotels, specialty food store chains, gourmet shops, and fine grocery stores alike appreciate our philosophy, our DOC expertise, our unique product mix and knowledgeable service.
                        a.button.section__button(href="#") Know more
                    div.section__photo(style="background-image: url('img/section_food/background.jpg')")

            section.section.section_rooms
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_half
                        h2.section__title Events
                        div.section__description You will never be bored.
                        p.section__text With our extensive knowledge of the area we can tailor your mountain bike rides or hikes to suit your abilities and preferences.
                        p.section__text If you are considering a special horseback riding or outdoor vacation anywhere in the world, call us first and let our experienced staff match the perfect holiday with your dream.
                        a.button.section__button(href="#") Latest events
                    div.section__photo(style="background-image: url('img/section_events/background.jpg')")

            section.section.section_news.section_half
                div.section__wrapper
                    div.section__info.section__info_quarter
                        h2.section__title News
                        div.section__description Latest from the blog
                        a.button.button_white.section__button(href="#") Latest events
                    div.news__item
                        a.news__link(href="#")
                            img.news__photo(src="img/section_news/photo-1-300x300.jpg" alt="View from the Bridge")
                            div.news__overlay
                                h3.news__title View from the Bridge
                    div.news__item
                        a.news__link(href="#")
                            img.news__photo(src="img/section_news/photo-2-300x300.jpg" alt="The North Falls")
                            div.news__overlay
                                h3.news__title The North Falls
                    div.news__item
                        a.news__link(href="#")
                            img.news__photo(src="img/section_news/photo-3-300x300.jpg" alt="A Pair of Shoes")
                            div.news__overlay
                                h3.news__title A Pair of Shoes

            section.section.section_reserve.section_half.section_wide
                div.section__background-photo(style="background-image: url('img/section_reserve/background.jpg')")
                    div.section__info.section__info_wide
                        h2.section__title.section__title_white St. Valentine Promo
                        div.section__description.section__description_white A romantic weekend for couples. 50% off.
                        a.button.button_white.section__button.button_no-border(href="#") Book it now

            section.section.section_guestbook
                div.section__wrapper
                    div.section__info_slider
                        h2.section__title The Guestbook
                        div.section__description What our guests told about us.
                        div.guestbook-slider
                            div.guestbook-slider-js
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-1.jpg")
                                    div.guestbook-slider__text I never meant to cause you any sorrow. I never meant to cause you any pain. I only wanted to one time see you laughing. I only wanted to see you laughing in the purple rain.
                                    div.guestbook-slider__author Emma Stone
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-2.jpg")
                                    div.guestbook-slider__text People always told me be careful of what you do And dont go around breaking young girls' hearts And mother always told me be careful of who you love And be careful of what you do cause the lie becomes the truth.
                                    div.guestbook-slider__author Samuel Leroy Jackson
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-3.jpg")
                                    div.guestbook-slider__text Oh, a storm is threat'ning My very life today If I don't get some shelter Oh yeah, I'm gonna fade away.
                                    div.guestbook-slider__author Robert Downey Jr.
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-4.jpg")
                                    div.guestbook-slider__text You can find me in the club, bottle full of bub Look mami I got the X if you into taking drugs I'm into having sex, I ain't into makin love So come give me a hug if you into getting rubbed.
                                    div.guestbook-slider__author Angelina Jolie
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-5.jpg")
                                    div.guestbook-slider__text Buddy you're a young man hard man Shoutin' in the street gonna take on the world some day You got blood on yo' face You big disgrace Wavin' your banner all over the place.
                                    div.guestbook-slider__author Matt Damon
                        a.button.section__button(href="#") Read all posts

            section.section.section_discover.section_half
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_half
                        h2.section__title Location
                        div.section__description In the heart of Sweden.
                        p.section__text At vero Callipho et post eum Diodorus, cum is alter voluptatem adamavisset, alter vacuitatem doloris, neuter honestate carere potuit, quae est a nostris laudata maxime. Et hanc quidem primam exigam a te operam, ut audias me quae a te dicta sunt refellentem.
                        a.button.section__button(href="#") View on maps
                    div.section__map
                        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af9ce3423cec6827d5913e88cf9e11e3ffb18d88aece0f14129a7c7cd9e1cadf1&amp;source=constructor" width="100%" height="100%" frameborder="0")



        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")