doctype html
html
    head
        meta(charset="utf-8")
        title Hemma guest house
        meta(http-equiv="X-UA-Compatible" content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(property="og:image" content="path_to_image")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
        meta(name="theme-color" content="#ffffff")

    body
        header.header(style="background-image: url(img/header/background.jpg)")
            div.header__wrapper
                div.top-line.header__top-line
                    div.menu
                        div.hamburger.menu__hamburger
                            div.hamburger__box
                                div.hamburger__inner
                        ul.nav.nav_header
                            li.nav__item
                                a.nav__link(href="index.html") Hemma
                            li.nav__item
                                a.nav__link(href="rooms.html") Rooms
                            li.nav__item
                                a.nav__link(href="food.html") Food
                            li.nav__item
                                a.nav__link(href="#events") Events
                            li.nav__item
                                a.nav__link(href="#deals") Deals
                    div.logo__image.logo__image_header(style="background-image: url(img/header/logo.png)")
                        a.logo.logo__header(href="index.html")
                div.promo.header__promo
                    h1.promo__title Hemma
                    div.promo__description Our Wonderful Guest House.
                a.slide-down(href="#section_discover")
                    div.slide-down__ball

        main
            section.section.section_discover#section_discover
                div.section__wrapper
                    div.section__info.section__info_half
                        h2.section__title Discover Hemma
                        div.section__description Luxury must be comfortable.
                        a.button.section__button(href="about-us.html") About us
                    div.section__photo(style="background-image: url('img/section_discover/background.jpg')")
            section.section.section_rooms
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_half
                        h2.section__title Rooms
                        div.section__description We love to make you feel at home.
                        p.section__text Our Luxury Rooms are our most spacious rooms and provide great getaway accommodations. Rooms provide one King or one Queen or two Queens with some rooms providing extra sitting rooms and sofa beds.
                        a.button.section__button(href="rooms.html") View rooms
                    div.section__photo(style="background-image: url('img/section_rooms/background.jpg')")

            section.section.section_food
                div.section__wrapper
                    div.section__info.section__info_half
                        h2.section__title Food
                        div.section__description Taste our gourmet delicacies.
                        p.section__text Chefs, caterers, hotels, specialty food store chains, gourmet shops, and fine grocery stores alike appreciate our philosophy, our DOC expertise, our unique product mix and knowledgeable service.
                        a.button.section__button(href="#") Know more
                    div.section__photo(style="background-image: url('img/section_food/background.jpg')")

            section.section.section_rooms
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_half
                        h2.section__title Events
                        div.section__description You will never be bored.
                        p.section__text With our extensive knowledge of the area we can tailor your mountain bike rides or hikes to suit your abilities and preferences.
                        p.section__text If you are considering a special horseback riding or outdoor vacation anywhere in the world.
                        a.button.section__button(href="#") Latest events
                    div.section__photo(style="background-image: url('img/section_events/background.jpg')")

            section.section.section_news.section_half
                div.section__wrapper
                    div.section__info.section__info_quarter
                        h2.section__title News
                        div.section__description Latest from the blog
                        a.button.button_white.section__button(href="#") Latest events
                    div.gallery__item
                        a.gallery__link(href="#")
                            img.gallery__photo(src="img/section_news/photo-1-300x300.jpg" alt="View from the Bridge")
                            div.gallery__overlay
                                h3.gallery__title View from the Bridge
                    div.gallery__item
                        a.gallery__link(href="#")
                            img.gallery__photo(src="img/section_news/photo-2-300x300.jpg" alt="The North Falls")
                            div.gallery__overlay
                                h3.gallery__title The North Falls
                    div.gallery__item
                        a.gallery__link(href="#")
                            img.gallery__photo(src="img/section_news/photo-3-300x300.jpg" alt="A Pair of Shoes")
                            div.gallery__overlay
                                h3.gallery__title A Pair of Shoes

            section.section.section_reserve.section_half.section_wide
                div.section__background-photo(style="background-image: url('img/section_reserve/background.jpg')")
                    div.section__info.section__info_wide
                        h2.section__title.section__title_white St. Valentine Promo
                        div.section__description.section__description_white A romantic weekend for couples. 50% off.
                        a.button.button_white.section__button.button_no-border(href="#") Book it now

            section.section.section_guestbook
                div.section__wrapper
                    div.section__info_slider
                        h2.section__title The Guestbook
                        div.section__description What our guests told about us.
                        div.guestbook-slider
                            div.guestbook-slider-js
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-1.jpg")
                                    div.guestbook-slider__text I never meant to cause you any sorrow. I never meant to cause you any pain. I only wanted to one time see you laughing. I only wanted to see you laughing in the purple rain.
                                    div.guestbook-slider__author Emma Stone
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-2.jpg")
                                    div.guestbook-slider__text People always told me be careful of what you do And dont go around breaking young girls' hearts And mother always told me be careful of who you love And be careful of what you do cause the lie becomes the truth.
                                    div.guestbook-slider__author Samuel Leroy Jackson
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-3.jpg")
                                    div.guestbook-slider__text Oh, a storm is threat'ning My very life today If I don't get some shelter Oh yeah, I'm gonna fade away.
                                    div.guestbook-slider__author Robert Downey Jr.
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-4.jpg")
                                    div.guestbook-slider__text You can find me in the club, bottle full of bub Look mami I got the X if you into taking drugs I'm into having sex, I ain't into makin love So come give me a hug if you into getting rubbed.
                                    div.guestbook-slider__author Angelina Jolie
                                div.guestbook-slider__item
                                    img.guestbook-slider__photo(src="img/section_guestbook/photo-5.jpg")
                                    div.guestbook-slider__text Buddy you're a young man hard man Shoutin' in the street gonna take on the world some day You got blood on yo' face You big disgrace Wavin' your banner all over the place.
                                    div.guestbook-slider__author Matt Damon
                        a.button.section__button(href="#") Read all posts

            section.section.section_location.section_half
                div.section__wrapper.section__wrapper_reverse
                    div.section__info.section__info_half
                        h2.section__title Location
                        div.section__description In the heart of Sweden.
                        p.section__text At vero Callipho et post eum Diodorus, cum is alter voluptatem adamavisset, alter vacuitatem doloris, neuter honestate carere potuit, quae est a nostris laudata maxime. Et hanc quidem primam exigam a te operam, ut audias me quae a te dicta sunt refellentem.
                        a.button.section__button(href="https://yandex.ru/maps/-/CBetyKtAPD\n") View on maps
                    div.section__map#map
            section.section.section_pics.section_half
                div.section__wrapper
                    div.section__info.section__info_quarter
                        h2.section__title Pics
                        div.section__description Latest from Instagram
                        a.button.button_white.section__button(href="https://www.instagram.com/scottcbakken/") Follow us
                    div.gallery__item
                        a.gallery__link(href="#")
                            img.gallery__photo(src="img/section_pics/photo-1.jpg" alt="View from the Bridge")
                            div.gallery__overlay
                                p.gallery__text It’s easy to feel small in the grand scheme of things but we all have a part to play. __________________________________ #socality #travelandcamp #arizona #monumentvalley #awesome_earthpix...
                    div.gallery__item
                        a.gallery__link(href="#")
                            img.gallery__photo(src="img/section_pics/photo-2.jpg" alt="The North Falls")
                            div.gallery__overlay
                                p.gallery__text Waiting for spring.... patiently. _________________________________ #socality #travelandcamp #explorealberta #explorecanada #awesome_earthpix #awesomeearth #roamtheplanet #earthpix #visualsoflife...
                    div.gallery__item
                        a.gallery__link(href="#")
                            img.gallery__photo(src="img/section_pics/photo-3.jpg" alt="A Pair of Shoes")
                            div.gallery__overlay
                                p.gallery__text Climb every mountain especially this one. It will take you about 2 hrs and give you some good looking glutes. ___________________________________ #socality #travelandcamp #explorealberta...
        footer.footer
            div.footer__wrapper
                div.social__wrapper_footer
                    div.logo__image.logo__image_footer(style="background-image: url(img/footer/logo.png)")
                        a.logo.logo__footer(href="index.html")
                    div.social
                        a.social__item.social__item_facebook(href="https://facebook.com")
                        a.social__item.social__item_instagram(href="https://instagram.com")
                        a.social__item.social__item_youtube(href="https://youtube.com")

                div.news__wrapper Latest News
                    ul.news.news_footer
                        li.news__item
                            a.news__link(href="#") View from the Bridge
                        li.news__item
                            a.news__link(href="#") The North Falls
                        li.news__item
                            a.news__link(href="#") A Pair of Shoes
                        li.news__item
                            a.news__link(href="#") A Day into the Wild
                        li.news__item
                            a.news__link(href="#") Hello world!
                div.nav__wrapper Menu
                    ul.nav.nav_footer
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="index.html") Hemma
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="rooms.html") Rooms
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="food.html") Food
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="#events") Events
                        li.nav__item
                            a.nav__link.nav__link_no-border(href="#deals") Deals

        div.preloader__wrapper
            div.preloader
                div.one.common
                div.two.common
                div.three.common
                div.four.common
                div.five.common
                div.six.common
                div.seven.common
                div.eight.common


        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
        script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")