doctype html
html
    head

        meta(charset="utf-8")
        title Hemma guest house
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(property="og:image" content="path_to_image")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        meta(name="theme-color" content="#000")
        meta(name="msapplication-navbutton-color" content="#000")
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

        link(rel="stylesheet" type='text/css' href="css/main.css")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

    body
        header.header(style="background-image: url(img/header/background.jpg)")
            div.header__wrapper
                div.top-line.header__top-line
                    div.menu
                        div.hamburger.menu__hamburger
                            div.hamburger__box
                                div.hamburger__inner
                        ul.nav
                            li.nav__item
                                a.nav__link(href="index.html") Hemma
                            li.nav__item
                                a.nav__link(href="#rooms") Rooms
                            li.nav__item
                                a.nav__link(href="#food") Food
                            li.nav__item
                                a.nav__link(href="#events") Events
                            li.nav__item
                                a.nav__link(href="#deals") Deals
                    div.logo__wrapper(style="background: url(img/header/logo.png)")
                        a.logo.logo__header(href="index.html")
                div.promo.header__promo
                    h1.promo__title Hemma
                    div.promo__description Our Wonderful Guest House.
                div.slide-down
                    div.slide-down__ball


        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
